// Grays from lightest to darkest
$wildsand: #f7f7f7;
$arcticwolf: #efefef;
$mercury: #e7e7e7;
$crystal: #e2e2e2;
$silver: #ccc;
$silverchalice: #999;
$dovegray: #666;
$dovegray-dk: #555;
$mineshaft: #444;
$mineshaft-dk: #333;

// Blues from lightest to darkest
$charlotte: #e4f6fd;
$charlotte-dk: #c7effe;
$electricblue: #00aeef;
$electricblue-dk: #00a3ec;
$pacificblue: #0178a3;
$pacificblue-dk: #015e80;

// Other colors
$piggypink: #ffd5d5;
$flamingo: #e95929;
$calmbanana: #fdf5d6;
$neoncarrot: #eaa14b;
$mintreverie: #d7f7e8;
$emerald: #17c977;
$mahogany: #a22810;
